# Node modules
node_modules/

# Arquivos de build do TypeScript
dist/

# Variáveis de ambiente
config.env

# Logs
logs/
*.log

# Pastas do sistema operacional
.DS_Store
Thumbs.db

# Configurações de IDE
.vscode/
.idea/
*.sublime-workspace